.search {
  width: 100%;
  padding: 0.5rem 1rem 0.7rem;
  position: absolute;
  background-color: #1d87a4;
  z-index: 1000;
}

.search form {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin-inline: auto;
}

.search input {
  width: 100%;
  padding: 0.4rem;
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid #1d87a4;
  border-top: none;
  border-right: none;
  border-radius: 3px;
}

.search button {
  position: absolute;
  border: none;
  outline: none;
  background: #c65871;
  color: #f3f3f3;
  font-weight: bold;
  padding: 0.33rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  right: 0;
}

.search .keywords {
  position: inherit;
  text-align: center;
  display: block;
  margin-top: 0.5rem;
  margin-left: auto;
}
