.search {
  width: 100%;
  padding: 0.5rem 1rem 0.7rem;
  position: absolute;
  background-color: #1d87a4;
  z-index: 1000;
}

.search form {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin-inline: auto;
}

.search input {
  width: 100%;
  padding: 0.4rem;
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid #1d87a4;
  border-top: none;
  border-right: none;
  border-radius: 3px;
}
